h1{color:
  #OOOOO;}

#cassio{
    width: 200px;
    height: 200px;
    margin-right:  600px;
}

#luizinho{
    width: 200px;
    height: 200px; 
    margin-right: 600px;
}

#ronaldo{
    width: 200px;
    height: 200px; ;
    margin-right: 600px;
}

#zé{
    width: 200px ;
    height: 200px ;
    margin-right: 600px ;
}

#biro{
    width: 200px;
    height: 200px;
    margin-right: 600px;
}

#Vaguinho{
    width: 200px;
    height: 200px;
    margin-right: 600px;
}

#claudio{
    width: 200px;
    height: 200px;
    margin-right: 600px;
}

#Rivellino{
    width: 200px;
    height: 200px;
    margin-right: 600px;
}
    
    
